<a href="https://colab.research.google.com/github/yasheymateen/Deep_Learning_MRIs/blob/master/MRI_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install --upgrade --quiet mdai

     |████████████████████████████████| 35.3MB 80kB/s
     |████████████████████████████████| 51kB 8.6MB/s

In [0]:
import mdai
import pandas as pd
from pathlib import Path

In [0]:
DOMAIN = 'public.md.ai'
ACCESS_TOKEN = '004e60b14e612766896ae17a6d0100a5'
project_id = 'XQqbVvqr'
train_dataset_id = 'D_7E0l4E'
test_dataset_id = 'D_zQ1lMo'
mdai_client = mdai.Client(domain=DOMAIN, access_token=ACCESS_TOKEN)

Successfully authenticated to public.md.ai.

In [0]:
p = mdai_client.project(project_id, annotations_only=True)

Using working directory for data.
Preparing annotations export for project XQqbVvqr...
Downloading file: mdai_public_project_XQqbVvqr_annotations_labelgroup_all_2020-03-02-152121.json

21.3MB [00:00, 191MB/s]

Success: annotations data for project XQqbVvqr ready.
No project created. Downloaded annotations only.

In [0]:
paths = [str(p) for p in Path.cwd().glob("**/*.json")]
JSON = paths[0]
results = mdai.common_utils.json_to_dataframe(JSON)
annotations = results['annotations']
annotations.head()

         id                 createdAt  ...     scope number
0  A_JddPQE  2020-02-18T21:13:01.175Z  ...  INSTANCE      1
1  A_qG28ZY  2020-02-18T21:13:01.175Z  ...  INSTANCE      1
2  A_47VBpv  2020-02-18T21:13:01.175Z  ...  INSTANCE      1
3  A_JAnGdr  2020-02-18T21:13:01.175Z  ...  INSTANCE      1
4  A_JN8WKy  2020-02-18T21:13:01.175Z  ...  INSTANCE      1

[5 rows x 28 columns]

In [0]:
annotations.columns

Index(['id', 'createdAt', 'createdById', 'updatedAt', 'updatedById', 'modelId',
       'StudyInstanceUID', 'SeriesInstanceUID', 'SOPInstanceUID', 'labelId',
       'annotationNumber', 'height', 'width', 'data', 'note', 'radlexTagIds',
       'reviewsPositiveCount', 'reviewsNegativeCount', 'dataset', 'groupId',
       'groupName', 'annotationMode', 'color', 'description', 'labelName',
       'radlexTagIdsLabel', 'scope', 'number'],
      dtype='object')

In [0]:
annotations.dataset.value_counts()

Train    6511
Test     4074
Name: dataset, dtype: int64

In [0]:
studies = results['studies']
studies.head()

                                    StudyInstanceUID dataset  number
0  1.3.46.670589.11.20182.5.0.8336.20130724083604...   Train       1
1                     1.2.752.24.7.2066097694.314180   Train       2
2                     1.2.752.24.7.2066097694.320548   Train       3
3                     1.2.752.24.7.2066097694.323785   Train       4
4                     1.2.752.24.7.595070831.4907659   Train       5

In [0]:
# boxing data into separate columns
a = annotations[annotations.annotationMode == 'bbox'].copy()

a['x'] = [d['x'] for _,d in a.data.iteritems()]
a['y'] = [d['y'] for _,d in a.data.iteritems()]
a['w'] = [d['width'] for _,d in a.data.iteritems()]
a['h'] = [d['height'] for _,d in a.data.iteritems()]
a['x2'] = a.x + a.w
a['y2'] = a.y + a.h

a.head()

            id                 createdAt  ...         x2         y2
2587  A_46VVeA  2020-02-20T22:56:39.070Z  ...  377.89329  265.50348
2588  A_4Ejj0n  2020-02-20T22:56:43.149Z  ...  390.96058  274.41300
2589  A_qnNN7D  2020-02-20T22:56:48.400Z  ...  405.80976  275.60091
2590  A_J0VV8r  2020-02-20T22:56:54.923Z  ...  414.71928  282.13458
2591  A_qxRReE  2020-02-20T22:57:01.161Z  ...  414.71928  282.13458

[5 rows x 34 columns]

In [0]:
labels = results['labels']
labels.head()

    groupId groupName annotationMode  ...     labelName radlexTagIdsLabel     scope
0  G_MKGlRd     CHAOS       freeform  ...         Liver                []  INSTANCE
1  G_MKGlRd     CHAOS       freeform  ...  Right Kidney                []  INSTANCE
2  G_MKGlRd     CHAOS       freeform  ...   Left Kidney                []  INSTANCE
3  G_MKGlRd     CHAOS       freeform  ...        Spleen                []  INSTANCE
4  G_W5ljNK   Segment       freeform  ...         Liver                []  INSTANCE

[5 rows x 9 columns]